<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName. Все права защищены. | Связь с разработчиком: <a href="mailto:kavtunchik58@gmail.com">kavtunchik58@gmail.com</a>
                </div>

            </div>
        </div>
    </div>
</div>